.primary-btn {
    display: inline-block;
    text-decoration: none;

    margin-top: 20px;

    padding: 16px 28px;

    border: none;

    border-radius: 14px;

    background: #3157d5;

    color: white;

    font-size: 17px;

    font-weight: 700;

    cursor: pointer;

    box-shadow: 0 10px 25px rgba(49, 87, 213, 0.25);

    transition: 0.25s;
}

.primary-btn:hover {
    transform: translateY(-3px);
}
