.start-button {
  display: inline-block;
  position: relative;
  z-index: 9999;

  border: none;

  background: #f2a900;
  color: #173b68;

  font-size: 19px;
  font-weight: 800;

  padding: 17px 38px;

  border-radius: 14px;

  cursor: pointer;

  margin-top: 18px;

  box-shadow: 0 5px 14px rgba(0,0,0,0.14);

  transition: 0.2s;

  text-decoration: none;

  pointer-events: auto;
}

.start-button:hover {
  background: #ffb81c;
  transform: translateY(-2px);
}
